#page-cars{
    width: 100vw;
    height: 100vh;
}

#page-cars main{
    margin: 3.2rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6rem;
    margin-top: 50px;
}