.input-block{
    position: relative;
}

.input-block + .input-block{
    margin-top: 1.4rem;
}

.input-block label{
    font-size: 1.4rem;
    font-family: Roboto;
}

.input-block input{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #ffffff;
    border: 1px solid #000000;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Roboto;
}
